<h1>Añadir paciente</h1>
<div>
  <label>id: <input #id /> </label><br/>
  <label>Nombres: <input #firstNames /> </label><br/>
  <label>Apellidos: <input #lastNames /> </label><br/>
  <label>Fecha de Cumpleaños: <input #birthDate /> </label><br/>
  <label>Tipo de Identificación: <input #identificationType /></label><br/>
  <label>Número de Identificación: <input #identificationNumber /></label><br/>
  <label>Dirección de residencia: <input #residenceAddress /></label><br/>
</div>
<button (click)="goBack()">Atrás</button>
<button (click)="save()">Guardar</button>
