<h2>Pacientes</h2>

<a routerLink="/patients/add">Añadir paciente</a>

<ul>
  <div *ngFor="let patient of patients">
    <li>
    <strong>Id</strong>: {{ patient.id }}
      <ul>
        <li><strong>Nombres</strong>: {{ patient.firstNames }}</li>
        <li><strong>Apellidos</strong>: {{ patient.lastNames }}</li>
        <li><strong>Fecha de cumpleaños</strong>: {{ patient.birthDate | date: 'dd - MM - yyyy' }}</li>
        <li><strong>Tipo de Identificación</strong>: {{ identification(patient.identificationType) }}</li>
        <li><strong>Número de Identificación</strong>: {{ patient.identificationNumber }}</li>
        <li><strong>Dirección de Resirencia</strong>: {{ patient.residenceAddress }}</li>
      </ul>
    </li>
    <p>
      <button routerLink="/patients/edit/{{patient.id}}" >Edit</button>
      <button (click)="delete(patient)">Delete</button>
    </p>
  </div>
</ul>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
